@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(243, 244, 246);
}

html.dark {
  background-color: rgb(17, 24, 39);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: inherit;
}

#root {
  background-color: inherit;
  min-height: 100vh;
}

